{{ template "base.gohtml" .}}

{{ define "title" }}Go Website PoC{{ end }}
{{- define "body" -}}
    <div>
        <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">{{ .Text }}</h1>
            </div>
        </div>
    </div>
{{- end -}}